<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xcmgxs.xsmixfeedback"
    android:versionCode="1"
    android:versionName="V 0.1.0" >
    <!--
         1.Target SDK version must be 16, not 17, or JavaScript bridge for
         WebView widgets does not work on a 4.2 Nexus 7
         2.也可以在js调用的方法加上注解@JavascriptInterface，不然是不用被js代码所调用的
    -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@drawable/xcmg"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/login_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.ProjectActivity"
            android:label="@string/title_activity_project" >
        </activity>
        <activity
            android:name=".ui.ProjectSomeInfoListActivity"
            android:label="@string/title_activity_project" >
        </activity>
        <activity
            android:name=".ui.LogEditActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_log_edit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".ui.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:parentActivityName=".ui.baseactivity.BaseActionBarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xcmgxs.xsmixfeedback.ui.baseactivity.BaseActionBarActivity" />
        </activity>
        <activity
            android:name=".ui.MySelfInfoActivity"
            android:label="@string/title_activity_my_self_info" >
        </activity>
        <activity
            android:name=".ui.IssueEditActivity"
            android:label="@string/title_activity_issue_edit"
            android:parentActivityName=".ui.baseactivity.BaseActionBarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xcmgxs.xsmixfeedback.ui.baseactivity.BaseActionBarActivity" />
        </activity>
        <activity
            android:name=".ui.ProjectStateEditActivity"
            android:label="@string/title_activity_project_state_edit"
            android:parentActivityName=".ui.baseactivity.BaseActionBarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xcmgxs.xsmixfeedback.ui.baseactivity.BaseActionBarActivity" />
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".ui.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:parentActivityName=".ui.baseactivity.BaseActionBarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xcmgxs.xsmixfeedback.ui.baseactivity.BaseActionBarActivity" />
        </activity>
        <activity
            android:name=".WelcomePage"
            android:label="@string/title_activity_welcome_page" >
        </activity>
        <activity
            android:name=".SplashPage"
            android:label="@string/title_activity_splash_page" >
        </activity>
        <activity
            android:name=".AppStart"
            android:label="@string/title_activity_app_start" >
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".ui.baseactivity.BaseActionBarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xcmgxs.xsmixfeedback.ui.baseactivity.BaseActionBarActivity" />
        </activity>
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".ui.baseactivity.BaseActionBarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xcmgxs.xsmixfeedback.ui.baseactivity.BaseActionBarActivity" />
        </activity>

        <receiver android:name="com.xcmgxs.xsmixfeedback.broadcast.AlarmReceiver" />

        <service
            android:name=".service.NotificationService"
            android:process=":notice" />

    </application>

</manifest>
